BOT_TOKEN=
DATABASE_URL=postgresql://opener:change_me@postgres:5432/opener_bot_admin?schema=public
POSTGRES_DB=opener_bot_admin
POSTGRES_USER=opener
POSTGRES_PASSWORD=change_me
SESSION_SECRET=change_me
ADMIN_LOGIN=admin
ADMIN_PASSWORD=change_me
APP_URL=http://127.0.0.1
NODE_ENV=production